@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../Poppins-Regular.ttf") format("ttf");
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  max-width: 600px;
  padding: 1rem;
  background-color: #fff;
}

.title {
  font-size: 3rem;
  color: #000;
}

p {
}
